@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("http://fonts.cdnfonts.com/css/intro");

.container-base {
  overflow: hidden;
  padding-top: 5em;
}

.container-content {
  height: auto;
  margin: 0 auto;
}

.content-1 {
  background-image: url(../assets/bg-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 108vh;
  margin: 0 auto;
  padding: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text1-1 {
  font-family: "Lora", serif;
  font-size: 14pt;
  font-style: italic;
  color: #ad6b25;
  margin-top: 1em !important;
  margin-bottom: 0 !important;
}

.text1-2 {
  font-family: "Intro Demo", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28pt;
  color: #8a4e1a;
  margin-bottom: 0 !important;
}

.text1-3 {
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  color: #8a4a0c;
}

.content-2 {
  position: relative;
  margin-top: -21vh !important;
  margin-bottom: -25vh !important;
  background-image: url(../assets/bg-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 8em;
}

.content-2 .content-2-1 {
  text-align: end;
}

.text2-1-1 {
  font-family: "Lora", serif;
  font-size: 14pt;
  color: white;
  margin-top: 1em !important;
  margin-bottom: 0 !important;
}

.text2-1-21 {
  font-family: "Intro Demo", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32pt;
  color: white;
  margin-bottom: 0 !important;
}
.text2-1-22 {
  font-family: "Intro Demo", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40pt;
  color: white;
  margin-bottom: 0 !important;
}

.text2-1-3 {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 10pt;
}

.text2-2-1 {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: #c17b2d;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px;
  margin-top: 1em;
  font-size: 10pt;
}

.text2-2-2 {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 10pt;
  padding-left: 1em;
  padding-right: 1em;
}

.content-3 {
  height: 125vh;
  background-image: url(../assets/bg-3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 8em;
}

.text3 {
  text-align: end;
}

.text3-1 {
  font-family: "Intro Demo", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40pt;
  color: #039b39;
}

.text3-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  margin-left: 1em;
  color: #bf5e00;
}

.borderline-1 {
  width: 25% !important;
  border-bottom: 1px solid #8a4e1a !important;
}

.borderline-2 {
  width: 25% !important;
  margin-right: 1em;
  border: 1px solid white !important;
}

.borderline-3 {
  width: 25% !important;
  margin-right: 1em;
  border-bottom: 1px solid #039b39 !important;
}
